h1{
    text-align: center;
    font-size: 48px;
    color: rgb(0, 100, 255);
}
body{
    background-image: linear-gradient(rgb(188, 229, 248) 50% , rgb(238, 250, 255));
    font-family: Arial;
}
.buttons{
    display:flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap:10px;
    height:600px;
    width:100px;
    border: 1px solid black;
}

button{
    font-size:18px;
    width:70px;
    color: rgb(0, 100, 255);
    background-color: rgb(143, 210, 241) ;
    outline:none;
    border:1px solid rgb(0, 0, 0);
    border-radius: 5px;
    cursor:pointer;
}

.color-picker{
    
    width:50px;
    color: rgb(0, 174, 255);
    background-color: rgb(143, 210, 241) ;
    outline:none;
    border:1px solid black;
    
    border-radius: 5px;
    cursor:pointer;
}
.board{
    width:600px;
    height:600px;
    border: 1px solid black;
    display:grid;
   
    

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 32%;    
    box-shadow: 3px 3px 3px grey, 0 0 3px black;
}

.slider{
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    padding-bottom:1.95%;
    
}

p{
    color:rgb(0, 174, 255);
    font-size: 18px;
}
span{
    color:rgb(0, 174, 255);
    font-size: 18px;
}
label{
    
    color:rgb(0, 174, 255);
    font-size: 18px;
    
}


.size-slider{
    -webkit-appearance:none;
    margin-top: 20px;
    width: 200px;
    outline:none;
    border-radius: 10px;
    background:linear-gradient(90deg, rgb(0,174,255) 16%, white 16%);
    height:7px;
    box-shadow: 3px 3px 3px grey, 0 0 3px black;
    opacity: 0.7;
}

.size-slider:hover{
    opacity: 1;
}
.size-slider::-webkit-slider-thumb{
    -webkit-appearance:none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor:pointer;
    
    background-color:rgb(0, 174, 255);

}

.size-slider::-moz-range-thumb{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor:pointer;
    background-color:rgb(0, 174, 255);
}

